.admin-news-page {
    .add-news-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        button {
            padding: 8px 15px;
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: #0048ba;
            font-weight: 600;
            font-size: 18px;
            color: #FFF;
            cursor: pointer;
        }
    }

    .total-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 10px;

        .cart {
            padding: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            background: #FFF;

            .icon {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(96, 91, 255, 0.1);

                svg {
                    height: 60%;
                    width: 60%;
                    color: rgb(96, 91, 255)
                }
            }

            .des {
                h5 {
                    font-size: 28px;
                    font-weight: 900;
                    color: #555555;
                }

                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: #333333;
                }
            }
        }
    }

    .news-container {
        .inner-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            background: #FFF;

            .new-cart {
                box-shadow: 1px 1px 1px 1px #e4e4e4, 1px 1px 1px 3px #e4e4e4;

                a {
                    text-decoration: none !important;
                    display: inline-block;

                }

                .image-container {
                    position: relative;

                    .visitor {
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        background: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;
                        padding: 4px 8px;
                        border-radius: 4px;
                        color: #908c8c;

                        span {
                            font-size: 14px !important;
                        }
                    }

                    img {
                        height: 200px;
                        width: 100%;
                    }
                }

                .des-container {
                    padding: 8px;

                    p {
                        // height: 65px;

                    }

                    h6 {
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                }

                .action-btn-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    gap: 15px;

                    a {
                        text-decoration: none;
                    }

                    button {
                        width: 100px;
                        border: none;
                        outline: none;
                        color: #FFF;
                        padding: 5px;
                        background: var(--default-color);
                        cursor: pointer;

                        &:nth-child(2) {
                            background: blue;
                        }
                    }
                }
            }
        }
    }

    .filter-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0px;
        flex-wrap: wrap;
        gap: 5px;
        font-family: 'Times New Roman', Times, serif !important;


        .input-section {
            display: flex;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;

            .date {
                display: flex;
                box-shadow: 1px 1px 1px -1px #ac979714;
                border: 2px solid var(--default-color);
                height: 35px !important;
                max-height: 35px !important;
                border-radius: 4px;
                overflow: hidden;
                padding: 0px;
                outline: 0px;
                background-color: #FFF;
                box-sizing: border-box;

                &.search {
                    span {
                        background-color: #FFF;
                        color: var(--default-color);

                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }

                &.sort {
                    &.active{
                        span {  
                            &:last-child {
                                background-color: var(--default-color);
                                color: #FFF;
                                font-weight: 500;
                                // font-family: 'Times New Roman', Times, serif;
                            }
                        }
                    }
                    span {
                        &:first-child{
                            svg {
                                height: 22px;
                                width: 22px;
                            }
                        }
                        &:last-child {
                            background-color: #FFF;
                            color: #000;
                            font-weight: 500;
                            // font-family: 'Times New Roman', Times, serif;
                        }
                    }
                }

                span {
                    background-color: var(--default-color);
                    padding: 0px 4px;
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }

                input {
                    border: none;
                    outline: none;
                    
                }
            }


            input,
            select {
                border: 2px solid var(--default-color);
                border-radius: 4px;
                box-shadow: 1px 1px 1px -1px #ac979714;
                box-sizing: border-box;
                padding: 5px;
                height: 100%;
            }

            select {
                color: #FFF;
                background-color: var(--default-color);
                border: 2px solid var(--default-color);
                height: 35px !important;
                max-height: 35px !important;
            }
        }

        .submit-section {
            button {
                border: 2px solid var(--default-color);
                border-radius: 4px;
                box-shadow: 1px 1px 1px -1px #ac979714;
                height: 35px;
                max-height: 35px;
                box-sizing: border-box;
                padding: 0px 20px;
                background: var(--default-color);
                color: #FFF;
            }
        }
    }
}