.news-details-page {
    margin-bottom: 40px;

    // Common Styles Start
    .common-bg {
        background-color: #FFF;
        padding: 10px;
    }

    .img-section {
        margin: 0px;
        background-color: #FFF;
        padding: 10px;
        width: 100%;
        aspect-ratio: 16/ 10;
        border: 1px solid #e4e4e4;
        margin: 10px 0px;

        &.hidden-figcaption {
            position: relative;

            figcaption {
                position: absolute;
                opacity: 0;
                max-height: 0px;
                max-width: 0px;
                padding: 0px;
                margin: 0px;
                top: 20px;

            }
        }

        img {
            width: 100%;
            height: 100%;
        }

        figcaption {
            display: flex;
            align-content: center;
            justify-content: center;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                margin-bottom: 2px
            }
        }
    }

    // Common Styles End


    .news-details-top-section {
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: 20px;
        margin-top: 20px;

        .news-details {
            .categories-container {
                display: flex;
                align-items: center !important;
                color: #000;
                font-size: 20px;


                a {
                    text-decoration: none;

                }

                span {
                    height: 22px;
                    width: 22px;
                    // background-color: red;
                    display: flex;
                    align-items: center;

                }

            }

            .title-container {
                .title-section {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        font-size: 28px;

                    }

                    .share-container {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        button {
                            padding: 5px;
                            border-radius: 4px;
                            cursor: pointer;

                            svg {
                                height: 25px;
                                width: 25px;
                            }
                        }

                        // .share-modal{
                        //     position: relative;
                        // }
                    }

                }


            }

            .news-content {
                .publication-info {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }




        }

        .related-news-container {
            .ads-section {
                width: 100%;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100% !important;
                    aspect-ratio: 16/9 !important;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img {
                        height: 100%;
                        width: 100%;
                        margin: 5px 0px;
                    }
                }
            }

            .news-section {
                .related-news-list {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
justify-content: center;
                    a {
                        display: flex;
                        text-decoration: none;
                        gap: 10px;
                        img{
                            height: 100%;
                            aspect-ratio: 16/9;
                        }
                        h3{
                            font-size: 18px;
                            font-weight: 500;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width:999999999200px) and (max-width:1000px) {
    .news-details-page {
        margin-bottom: 40px;

        .news-details {
            grid-template-columns: 70% auto;
            gap: 10px;

            .main-news-container {
                margin-bottom: 25px;

                .categories-container {
                    display: flex;
                    align-items: center;
                    color: #000;
                    font-size: 15px;

                    a {
                        text-decoration: none;
                        display: flex !important;
                        align-items: center;

                        svg {
                            margin-bottom: 4px;
                        }
                    }


                    span,
                    svg {
                        height: 22px;
                        width: 22px;
                    }

                }

                .news-container {

                    h2 {
                        font-size: 23px;

                    }

                    img {
                        height: 300px;
                    }
                }
            }

            .related-news-container {
                .ads-section {
                    width: 100%;
                    max-width: 400px;

                    img {
                        width: 100%;
                        height: 200px;
                        margin: 5px 0px;
                    }
                }

                .news-section {
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .new-list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        a {
                            display: flex;
                            // grid-template-columns: calc(80% - 5px) 20%; 
                            align-items: center;
                            text-decoration: none;
                            //  gap: 5px;
                            padding: 5px;

                            h6 {
                                font-size: 14px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:99999999200px) and (max-width:800px) {
    .news-details-page {
        margin-bottom: 40px;

        .news-details {
            grid-template-columns: 1fr;
            gap: 10px;
            margin-top: 20px;

            .main-news-container {

                .categories-container {
                    display: flex;
                    align-items: center;
                    color: #000;

                    a {
                        text-decoration: none;
                    }

                    span {
                        height: 22px;
                        width: 22px;
                    }

                }

                .news-container {

                    h2 {
                        font-size: 23px;

                    }

                    img {
                        height: 300px;
                    }
                }
            }

            .related-news-container {
                .ads-section {
                    width: 100%;
                    max-width: 100%;

                    img {
                        width: 100%;
                        height: 200px;
                        margin: 5px 0px;
                    }
                }

                .news-section {
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .new-list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            padding: 5px;

                            h6 {
                                font-size: 14px;
                            }

                            img {
                                width: 200px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:99999999999999200px) and (max-width:650px) {
    .news-details-page {
        .news-details {
            .main-news-container {
                .categories-container {
                    display: flex;
                    align-items: center;
                    color: #000;

                    a {
                        text-decoration: none;
                    }

                    span {
                        height: 22px;
                        width: 22px;
                    }

                }

                .news-container {

                    h2 {
                        font-size: 18px;

                    }

                    p {
                        font-size: 14px;
                    }

                    img {
                        height: 200px;
                    }
                }
            }

            .related-news-container {
                .ads-section {

                    img {
                        width: 100%;
                        height: 140px;
                    }
                }


            }
        }
    }
}