.mobile-navigation {
    width: 100%;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.0901960784);
    padding-bottom: 20px;
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;

    &.active {
        display: block;

    }

    .navigation-inner-container {
        .nav-container {
            height: auto;
            max-height: 500px;
            overflow-X: scroll; 

            ul {
                padding: 0px;
                margin: 0px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 2px;
                column-gap: 20px;
                box-sizing: border-box;

                li {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    height: 100%;
                    background: #f8f1f1;
                    width: 100%;
                    border-bottom: 2px solid #e4e4e4;
                    display: flex;
                    justify-content: space-between;
                    position: relative;


                    &:hover {
                        border-bottom: 2px solid blue;

                    }

                    ul {
                        display: none;


                        li {
                            border: none;
                            background: transparent;

                            &:hover {
                                border: none;
                                background: #e4e4e4
                            }
                        }

                    }

                    &:hover,
                    &:focus-within {
                        ul {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            height: auto;
                            width: 100%;
                            background: #FFF;
                            z-index: 99999 !important;
                            left: 0px;
                            top: 100%;
                            border: 1px solid #e4e4e4;
                            border-radius: 0px 0px 8px 8px;
                            overflow: hidden;
                            padding: 5px;
                        }
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        padding: 3px 0px 3px 10px;

                    }

                    button {
                        border: none;
                        outline: none;
                        background: transparent;
                        margin: 0px;
                        margin-right: 10px;
                        padding: 0px;
                        cursor: pointer;

                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .mobile-navigation {
        .navigation-inner-container {
            .nav-container { 
                max-height: 70vh; 

                ul {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .mobile-navigation {
        .navigation-inner-container {
            .nav-container {  
                ul {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}